<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style_cadastro.css" rel="stylesheet">
    <title>Cadastro</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        
        <fieldset>
            <form id="form_in">

                <legend>Cadastro</legend>

                <fieldset>
                    <label for="numero">Numero</label>
                    <input type="text" name="numero">
                </fieldset>

                <fieldset>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome">
                </fieldset>

                <fieldset>
                    <label for="tipo">Tipo</label>
                    <input type="text" name="tipo">
                </fieldset>


                <fieldset>
                    <label for="imagem">Imagem</label>
                    <input type="link" name="imagem">
                </fieldset>

                <fieldset>
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao">
                </fieldset>

                <fieldset>
                    <label for="altura">Altura</label>
                    <input type="text" name="altura">
                </fieldset>

                <fieldset>
                    <label for="peso">Peso</label>
                    <input type="text" name="peso">
                </fieldset>

                <fieldset>
                    <label for="categoria">Categoria</label>
                    <input type="text" name="categoria">
                </fieldset>

                <fieldset>
                    <label for="habilidade">Habilidade</label>
                    <input type="text" name="habilidade">
                </fieldset>

                <button type="submit">Enviar</button>
                
            </form>

        
            

        </fieldset>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>

</html>