<header id="header">
    <a href="/"><img src="./img/pokemon-logo.png" alt="Logo Pokémon"></a>


    <ul class="li">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/cadastro.ejs">
            <li>Cadastro</li>
        </a>
    </ul>


    <hr>
</header>