* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {

    height: 100vh;
    width: 100vw;

}

header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 13%;
    background-color: #A41000;
    color: white;
}

#header img {
    height: 7vh;
}

#header ul {
    display: flex;
    gap: 5px;
    list-style: none;
    height: auto;
    width: auto;
    align-items: center;
}

#header ul a {
    text-decoration: none;
    color: currentColor;
}

#header ul a:hover {
    background-color: rgba(255,
            99,
            82, .3);
    border-radius: 10px;
    height: 1fit-content;
    width: fit-content;

}

main {
    min-height: 80%;
}

footer {

    height: 7%;
    font-size: 4vh;
    background-color: #A41000;
    position: bottom;
    bottom: 0;
    color: aliceblue;
}